<h1>Edit profile</h1>


<% if @profile.image.attachment%>
	<%= image_tag @profile.image.attachment_url %>
	<br />
	<br />
<% else %>
	<h3> No avatar </h3><br />
<% end %>


<%= form_for :profile, url: user_profile_path(current_user.id), method: :put do |f| %>

	<p>
		<%= f.fields_for :image_attributes do |i| %>
			<%= i.file_field :attachment, id: 'profile-img' %><br />
		<% end %>
	</p>

	<p>
		<%= f.label :gender %><br />
		<%= f.select(:gender, options_for_select([['Not specified', 0], ['Male', 1], ['Female', 2]], @profile.gender)) %>
	</p>

	<p>
		<%= f.label :birthdate %><br />
		<%= f.date_select :birthdate, start_year: 1940, class: 'form-control', rows: 5 %>
	</p>

	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description, class: 'form-control', rows: 5 %>
	</p>

	<p>
	<%= f.submit 'Submit', class: 'btn btn-primary' %>
	</p>

<% end %>

