 <h1>User profile</h1>

<% unless @profile.image %>
	<h3> Avatar is missing </h3><br />
<% else %>
	<%= image_tag @profile.image.attachment_url %>
	<br />
	<br />
<% end %>

<%= @profile.description %>
<br />
<br />

<div>
	<%= link_to 'Rating: ', votemap_user_profile_path %>
	<span class="badge" id="votevalue<%= @profile.user_id %>">
		<% s=0 %>
		<% @profile.votes.each do |vot|  %>
		<% s += vot.value %>
		<% end %>
		<%= s %>
	</span>
</div>

<% if user_signed_in? %>
	<div>
		<% unless @profile.user == current_user %>
			<!-- 
			<%= link_to '+', voteup_user_profile_path, class: "btn btn-success btn-xs" %>
			<%= link_to '-', votedown_user_profile_path, class: "btn btn-danger btn-xs" %>
			-->
			<%= link_to '+', '#', class: "btn btn-success btn-xs voteupp", data: {user_id: @profile.user_id} %>
			<%= link_to '-', '#', class: "btn btn-danger btn-xs votedownp", data: {user_id: @profile.user_id} %>
			<br />
			<br />
		<% end %>
	</div>
<% end %>

<div>
	Posts rating:
	<span class="badge" >
		<% s=0 %>
		<% @profile.user.articles.each do |article|  %>
			<% article.votes.each do |vot| %>
				<% s += vot.value %>
			<% end %>
		<% end %>
		<%= s %>
	</span>
</div>

<div>
	Comments rating:
	<span class="badge" >
		<% s=0 %>
		<% @profile.user.comments.each do |comment|  %>
			<% comment.votes.each do |vot| %>
				<% s += vot.value %>
			<% end %>
		<% end %>
		<%= s %>
	</span>
</div>

<% if user_signed_in? %>
	<% if @profile.user_id == current_user.id %>
  		<%= link_to 'Edit profile', edit_user_profile_path(current_user.id), class: "btn btn-warning" %>
  <% end %>
<% end %>