<% @articles.each do |article| %>

<div class="row">

	<div class="col-xs-2">
		<br />
		<% if article.user.profile.image %>
			<%= image_tag article.user.profile.image.attachment_url(:thumb) %>
			<br />
			<br />
		<% end %>		
		<i><%= t('articles.posted_by') %> <b><%= link_to article.user.username, user_profile_path(article.user_id) %></b></i><br />
		<%= article.updated_at.strftime("%b %-d, %Y %H:%M")%>
	</div>

	<div class="col-xs-10">
		<h2>
			<%= link_to article.title, article_path(article) %>
		</h2>

		<p>
			<%= simple_format(truncate(article.text, length: 250)) %>
		</p>

		<div class="row">
			<div class="col-xs-3">
				<span class="badge" >
					Number of comments: <%= article.comments_count %>
				</span>
			</div>

			<div class="col-xs-7">
			</div>

			<div class="col-xs-2">
				<div class="row">
					<%= link_to 'Rating: ', votemap_article_path(article) %>
					<span class="badge">
						<% s=0 %>
						<% article.votes.each do |vot|  %>
						<% s += vot.value %>
						<% end %>
						<%= s %>
					</span>
				</div>
				<!-- <button class="btn btn-primary" onclick="rating_inc()">Click me!</button> -->
				<% if user_signed_in? %>
					<% unless article.user == current_user %>
						<div class="row">
						<!--
							<%= link_to '+', voteup_article_path(article), class: "btn btn-success btn-xs" %>
						-->
							<%= link_to '+', '#', id: 'voteup', class: "btn btn-success btn-xs", data: {article_id: article.id} %>						
							<%= link_to '-', votedown_article_path(article), class: "btn btn-danger btn-xs" %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<p>
			<% if user_signed_in? %>
				<% if current_user ==  article.user %>
					<br />
					<%= link_to t('buttons.edit'), edit_article_path(article), class: "btn btn-warning btn-xs" %>
					<%= link_to t('buttons.delete'), article_path(article), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: t('confirms.sure') } %>
				<% end %>
			<% end %>
		</p>
	</div>
</div>
<hr />

<% end %>