<h1><%= @article.title %></h1>
<p>
	<%= @article.text %>
</p>

<% @article.comments.each do |comment| %>
	<p>
		<hr />
		<i><%= comment.author %> said:</i><br />
		<%= comment.body %>
	</p>
<% end %>

<hr />

<b>Add comment</b>
<p>
<%= form_for([@article, @article.comments.build]) do |f| %>

	<p>
		<%= f.label :body, size: 60 %><br />
		<%= f.text_area :body, class: 'form-control' %>
	</p>

	<p>
		<%= f.submit 'Add comment', class: 'btn btn-primary' %>
	</p>
<% end %>

</p>