<h1><%= @article.title %></h1>

<% if  @article.images.first%>
	<%= image_tag @article.images.first.attachment_url %>
<% end %>

<p>
	<%= simple_format(@article.text) %>
</p>

<% @article.comments.each do |comment| %>
<div class="row">

	<hr />
	<div class="col-xs-2">
		<% if comment.user.profile.image %>
			<%= image_tag comment.user.profile.image.attachment_url(:thumb) %><br />
		<% end %>		
		<i><b><%= link_to comment.user.username, user_profile_path(comment.user_id) %></b> <%= t('articles.commented') %></i>
	</div>

	<div class="col-xs-8">
		<%= comment.body %>
	</div>

	<div class="col-xs-2">
		<div class="row">
			<%= link_to 'Rating: ', votemap_article_comment_path(@article, comment) %>
			<span class="badge" id="votevalue<%= comment.id %>">
				<% s=0 %>
				<% comment.votes.each do |vot|  %>
				<% s += vot.value %>
				<% end %>
				<%= s %>
			</span>
		</div>

		<div class="row">
			<% if user_signed_in? %>
				<% unless comment.user == current_user %>
					<% if comment.votes.where(user_id: current_user.id).first.nil? %>
						<!-- 
						<%= link_to '+', voteup_article_comment_path(@article, comment), class: "btn btn-success btn-xs" %>
						<%= link_to '-', votedown_article_comment_path(@article, comment), class: "btn btn-danger btn-xs" %>
						 -->
						<%= link_to '+', '#', class: "btn btn-success btn-xs voteupc", data: {comment_id: comment.id, article_id: @article.id} %>
						<%= link_to '-', '#', class: "btn btn-danger btn-xs votedownc", data: {comment_id: comment.id, article_id: @article.id} %>
					<% end %>
				<% end %>
			<% end %>
		</div>

	</div>

</div>
<% end %>

<hr />

<p>
<% if user_signed_in? %>
	<%= form_for([@article, @article.comments.build]) do |f| %>

		<p>
			<%= f.label :body, size: 60 %><br />
			<%= f.text_area :body, class: 'form-control' %>
		</p>

		<p>
			<%= f.submit t('articles.add_comment'), class: 'btn btn-primary' %>
		</p>
	<% end %>
<% end %>
</p>