<h2>Set Image</h2>

<div class="well">
  <%= form_for @image, html: { multipart: true } do |f| %>
    <%= f.label :description %></br>
    <%= f.text_field :description %></br>
    <%= f.label :attachment %></br>
    <%= f.file_field :attachment %></br>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
